.header {
  background-color: $hero-header-bg;
  background-image: url("../../images/png/hero-blur-image-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.sitenav__list {
  display: flex;
  gap: 5rem;

  a {
    color: $link-color;
    transition: 0.3s;
    position: relative;

    &:hover {
      color: $orange-color;
    }

    &::before {
      display: inline-block;
      content: "";
      position: absolute;
      height: 2px;
      width: 0%;
      bottom: 0;
      background: $link-color;
      transition: 0.3s;
    }

    &:hover::before {
      width: 100%;
    }
  }
}


.header__hero__container{
    display: flex;
    align-items: center;
    padding-bottom: 25rem;
    & .header__hero__info__title{
        color: $white-color;
        margin-bottom: 3rem;
    }

    & .header__hero__info__text{
        color: #849499;
        margin-bottom: 5rem;
    }

    & .header__hero__info__btns{
        display: flex;
        gap: 2.5rem;
    }
}